#footer {
    margin-top: 100px;
    height: 200px;
    width: 100%;
    color: white;
    background-color: black; 
    position: absolute;
}

.naukriIcon,.linkedinIcon:hover {
    cursor: pointer;
}

.address {
    color: white;
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#copyright {
    font-size: 0.875em;
    font-family: var(--bs-font-monospace);
}

.smicons {
    display: flex;
    justify-content: center;
}