<div class="container-fluid">
<div class="fullscreen-background" id="backgroundImageId">
    <div class="centered-content">
        <div id="name-title">GANESH CHEEPURI</div>
        <button type="button" (click)="openResumeInNewTab()" class="btn btn-warning resumeButton"><i class="fa-solid fa-download"></i> &nbsp; Download Resume</button>
    </div>
</div>


<h3 id="projectsTitleId">PROJECTS</h3>
<div class="row initial-row" id="projectsDivId">

    <div class="col-lg-4 col-md-6 col-sm-12 divOutlet">
        
        <div class="card projectSection" data-aos="fade-right">
            <img src="https://www4.instagantt.com/assets/63c5e29f1b5bc83fe0af2489/6424d753f8eb7a9e69c372fc_Gantt%20Chart%20Online%20Software%20Instagantt%20Ideation%202.webp" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">ganesh</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a class="btn btn-primary" (click)="displayProjectDetails()">Go somewhere</a>
            </div>
        </div> 
        
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 divOutlet">
        
        <div class="card projectSection" data-aos="flip-up">
            <img src="https://www4.instagantt.com/assets/63c5e29f1b5bc83fe0af2489/6424d753f8eb7a9e69c372fc_Gantt%20Chart%20Online%20Software%20Instagantt%20Ideation%202.webp" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">prasad</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>

    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 divOutlet">
        
        <div class="card projectSection" data-aos="fade-left">
            <img src="https://www4.instagantt.com/assets/63c5e29f1b5bc83fe0af2489/6424d753f8eb7a9e69c372fc_Gantt%20Chart%20Online%20Software%20Instagantt%20Ideation%202.webp" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>

    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 divOutlet">
        
        <div class="card projectSection" data-aos="fade-right">
            <img src="https://www4.instagantt.com/assets/63c5e29f1b5bc83fe0af2489/6424d753f8eb7a9e69c372fc_Gantt%20Chart%20Online%20Software%20Instagantt%20Ideation%202.webp" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>

    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 divOutlet">
        
        <div class="card projectSection" data-aos="flip-up">
            <img src="https://www4.instagantt.com/assets/63c5e29f1b5bc83fe0af2489/6424d753f8eb7a9e69c372fc_Gantt%20Chart%20Online%20Software%20Instagantt%20Ideation%202.webp" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>

    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 divOutlet">
        
        <div class="card projectSection" data-aos="fade-left">
            <img src="https://www4.instagantt.com/assets/63c5e29f1b5bc83fe0af2489/6424d753f8eb7a9e69c372fc_Gantt%20Chart%20Online%20Software%20Instagantt%20Ideation%202.webp" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>

    </div>
</div>

<!-- ABOUT SECTION -->
<div class="about container aboutMeMainContainer" id="aboutMeId">

  <div class="card" style="border: none !important;">
    <div class="card-body">
      <div class="row">
      
      <div class="col-lg-6 col-sm-12 col-md-12 imageSection">
        <img class="profile-picture" src="assets/Ganesh.jpg" alt="Ganesh's image">
      </div>

      <div class="col-lg-6 col-sm-12 col-md-12">
          
        <h2 class="aboutMeTitles">ABOUT ME</h2>
        <ul>
          <li>
            Certified Angular Developer with quite few own projects and looking for an opportunity to work and excel my skills in an organization and interested to explore and work on complex projects.
          </li>
          <li>
            Experienced Angular Developer worked on Agile methodology. Willing to upgrade myself with new technologies and easily adaptable to any work environment.
          </li>
          <li>
            Experienced Software Engineer with 3+ years of experience in Software Industry. Excellent reputation for resolving problems, improving customer satisfaction and driving overall operational improvements.
          </li>
        </ul>

        <h2 class="aboutMeTitles">OBJECTIVE</h2>
        <ul>
          <li>
            To secure a challenging role in a reputable organization to utilize my technical and management skills for the growth of the organization as well as to enhance my knowledge about new and emerging trends in IT sector.
          </li>
        </ul>


      </div>
    </div>
    
  </div>
</div>

</div>


<!-- SKILLS SECTION -->
<div class="skills container aboutMeMainContainer" id="skillsId">
  <div class="card" style="border: none !important;">
    <div class="card-body">
      <div class="card-title" id="skillsTitle">SKILLS</div>
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6">
          <ul>
            <li>Angular</li>
            <li>Javascript</li>
            <li>HTML</li>
            <li>CSS</li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <ul>
            <li>Typescript</li>
            <li>SQL Server</li>
            <li>Git</li>
            <li>Java</li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <ul>
            <li>Spring Boot</li>
            <li>REST API's</li>
            <li>Microservices</li>
            <li>Spring Data JPA</li>
          </ul>
        </div>
      </div>

  </div>
  </div>
</div>


<!-- CONTACT SECTION -->
<div class="container" id="contactForm">
  <h2 class="text-center mb-5">Contact Me</h2>
  <div class="row">
  <div class="col-md-6 offset-md-3">
  <form [formGroup]="contactForm" (ngSubmit)="onSubmit(contactForm.value)">
    <div class="form-group">
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Your good name..." formControlName="name">
      </mat-form-field>
      <div class="invalidMessage" *ngIf="contactForm.controls['name'].touched && contactForm.controls['name'].errors">Please enter your name</div>
    </div>
  
    <div class="form-group">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="email" placeholder="Enter your Email..." formControlName="email">
      </mat-form-field>
      <div class="invalidMessage" *ngIf="contactForm.controls['email'].touched && contactForm.controls['email'].errors">Please enter a valid Email</div>
    </div>

    <div class="form-group">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Message</mat-label>
        <textarea matInput placeholder="Send some message to Ganesh..." formControlName="message"></textarea>
      </mat-form-field>
      <div class="invalidMessage" *ngIf="contactForm.controls['message'].touched && contactForm.controls['message'].errors">Please enter some message you want to send</div>
    </div>

    <div class="buttons">
      <button type="submit" class="btn btn-primary" [disabled]="contactForm.invalid">Submit</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <!-- <button class="btn btn-primary" (click)="showSuccess()">Submit</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
      <button type="reset" id="reset" class="btn btn-warning" (click)="contactForm.reset()">Reset</button>
    </div>

  </form>

  </div>
  </div>
  </div>



</div>