<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbarId">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    
    <a class="navbar-brand">
      <i class="fa-solid fa-briefcase" style="color: #B197FC;"></i>
    </a>

   <div id="dateTimeId"> {{dateTimeString}} </div>
    <div class="collapse navbar-collapse" id="navbaritems" style="justify-content: flex-end;">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" (click)="scorllToHome()">HOME</a>
        </li>
        <li class="nav-item"> 
          <a class="nav-link active" aria-current="page" (click)="scorllToPortfolio()">PORTFOLIO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" (click)="scorllToAbout()">ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page">SKILLS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" (click)="scorllToContactForm()">CONTACT</a>
        </li>
      </ul>


      </div>
    </div>
</nav>
